@{
    ViewBag.Title = "Home Page";
}

@model Buttons.Models.Question.Index

<div class="jumbotron">
    <h1>Questions</h1>

    <h2>The ViewBag contains the value</h2>

    <p class="lead">Here are all the questions.</p>
    @if ((bool?)ViewData["IsLoggedIn"] == true)
    {
        <p>@Html.ActionLink("Create New Question", "Upsert", new { }, new { @class = "btn btn-primary" })</p>
    }
</div>

<div class="row">

    <table class="table">
        <thead>
            <tr>
                <th>
                    Question
                </th>
                <th>
                    Status
                </th>
            </tr>
        </thead>
        @foreach (var item in Model.Questions)
        {
            <tr>
                <td>
                    @Html.ActionLink(@item.Title, "Get", new { id = @item.Id }, new {})
                </td>
                <td>
                    @if (item.Answered)
                    {
                        <span>
                            Answered
                        </span>
                    }
                </td>
            </tr>
        }
    </table>

</div>