@{
    ViewBag.Title = "Login";
}
@model Buttons.Models.Account.Login

<h2>Login</h2>


@using (Html.BeginForm())
{    
    <div>
        @Html.LabelFor(x => x.Username)
        @Html.TextBoxFor(x => x.Username)
    </div>

    <div>
        @Html.LabelFor(x => x.Password)
        @Html.PasswordFor(x => x.Password)
    </div>  


    <input type="submit" value="Login" />
}

